<div class="container mt-2">
    <footer class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.6); color: white">
        CG3 Blog Platform - <a href="https://github.com/garywei944/cs326_final_project" class="text-white"
                               target="_blank">Github Repo</a>
        <script>
            $("footer").append("&copy; " + (new Date).getFullYear());
        </script>
        <a href="https://github.com/garywei944" class="text-white" target="_blank">garywei944</a>
        <a href="https://github.com/GavinDuan513" class="text-white" target="_blank">GavinDuan513</a>
        <a href="https://github.com/genglinliu" class="text-white" target="_blank">genglinliu</a>
        <a href="https://github.com/peihenglyu" class="text-white" target="_blank">peihenglyu</a>
    </footer>
</div>
