<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="index.html">CG3</a>

    <!--    TODO: link to the api of profile and change profile picture -->
    <a href="profile.html" class="navbar-nav ml-auto">
        <img src="images/akari.jpg" alt="Profile Picture" width="40" height="40" class="rounded-circle">
    </a>
    <a href="/post" class="navbar-link btn btn-outline-light ml-2">New Post</a>
</nav>
