body {
    margin: 0;
    padding: 0;
    background-color: rgb(150, 185, 238);
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
}

.card-body {
    min-height: 75vh;
}

#blogContent {
    height: 70vh;
    border-radius: 1vh;
    margin: 5vh;
    background-color: rgb(183, 196, 209);
    opacity: 0.8;
}

#blogtext {
    margin: 30px;
}

.button-group button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 20px 48px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #3e8e41;
}
