body{
    margin: 0;
    padding: 0;
    background-color: rgb(150, 185, 238);
}

#blogContent {
    height: 70vh;
    border-radius: 1vh;
    margin: 5vh;
    background-color: rgb(183, 196, 209);
}

.button-group button {
    background-color: #4CAF50; /* Green background */
    border: none; 
    color: white; 
    padding: 20px 48px; 
    cursor: pointer; 
    /* display: flex;
    justify-content: center;  */
}

.button-group button:hover {
    background-color: #3e8e41;
}