body{
    margin: 0;
    padding: 0;
}

#top{
    background-color: #1e90ff;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100vw;
    height: 10vh;
}

#bottom{
    background-color: aqua;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
}

.right{
    float: right;
    margin-right: 10px;
}

#home{
    margin-left: 100px;
    text-decoration: none;
    font-size: 40px;

}

#newpost{
    float: right;
    width: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 16px;
}

#circle{
    color: gray;
    border-radius: 50%;
    margin-top: 10px;
    height: 40px;
    width: 40px;
}

#toolbar{
    margin-left: 35vw;
    margin-top: 10px;
    text-align: center;
    width: 30vw;
    height: 5vh;
    border: 1px solid black;
}

.button{
    margin-top: 7px;
    width: 5vw;
    background-color: white;
}

#textBox{
    margin-top: 15px;
    margin-left: 15vw;
    width: 70vw;
    height: 70vh;
    border: 1px solid black;
    text-align: center;
    border-radius: 50px;
}

#post{
    text-decoration: none;
    margin-left: 80vw;
    font-size: 24px;
}

