.main {
    background-color: rgba(255, 255, 255, 0.8);
}

.profile-button {
    background-color: #66ccff;
    color: black;
    font-size: 1.2em;
}

.card-text {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.4em;
    line-height: 1.8em;
}

#username {
    font-size: 2em;
}

#bio {
    overflow-y: auto;
    height: 12em;
}

#blog_btn, #favorite_btn {
    background-color: #f6a4ec;
}

#liked_btn, #recent_btn {
    background-color: #97fbd1;
}
