.customer {
    background: lightgrey;
}

.orderreceived {
    background: yellow;
}

.lightgrey {
    background: lightgrey;
}

.floatleft {
    float: left;
}

.rightalign {
    text-align: right;
}

input[type=submit] {
   width: 200px;
   background-color: #09f;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

input[value=Received] {
   width: 200px;
   background-color: red;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

input[value=Cooking] {
   width: 200px;
   background-color: green;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

input[value="Out For Delivery"] {
   width: 200px;
   background-color: blue;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

input[value="Delivered"] {
   width: 200px;
   background-color: lightgrey;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

table.serverstatus {
    width: 100%;
}

table td, table th { 
    overflow-wrap: anywhere; 
}

