<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/blogpage.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/blogpage.js"></script>
</head>

<body>
    <div id="top">
        <a id="home" href="index.html">Home</a>

        <button id="newpost" class="right" onclick="window.location.href='post.html';">New Post</button>
        <a href="index.html">
            <button id="circle-profile" class="circle"></button>
        </a>
    </div>

    <div id="blogBody">
        <div id="blogContent">
            <button id="circle-blog" class="circle"></button>
                <p><%= results[0].content %></p>

        </div>
    </div>

    <div id="bottom">
        <div class="btn-group">
            <button id="readLater" style="width:33%">Read Later</button>
            <button id="like" style="width:33%">Like</button>
            <button id="favorite" style="width:33%">Favorite</button>
          </div>
    </div>

</body>
</html>