<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="/css/blogpage.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/blogpage.js"></script>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="index.html">CG3</a>

        <a href="profile.html" class="navbar-nav ml-auto">
            <img src="/images/akari.jpg" alt="Profile Picture" width="40" height="40" class="rounded-circle">
        </a>
        <a href="post.html" class="navbar-link btn btn-outline-light ml-2">New Post</a>
    </nav>

    <div id="blogBody">
        <div id="blogContent">
            <a href="profile.html" class="navbar-nav ml-auto">
                <img src="/images/akari.jpg" alt="Profile Picture" width="40" height="40" class="rounded-circle">
            </a>
            <div id="blogtext"><%= content %></div>
        </div>
    </div>

    <div id="bottom">
        <div class="button-group">
            <button id="like" style="width:33%">Like</button>
            <button id="follow" style="width:33%">Follow</button>
            <button id="readLater" style="width:33%">Read Later</button>
          </div>
    </div>

</body>
</html>