<!DOCTYPE html>
<html lang="en">
<head>
<!--    TODO: remember to add title here - Gary -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="/css/blogpage.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/blogpage.js"></script>
</head>

<body>
    <!-- navbar -->
    <%- include(appRoot+'/views/partials/nav') %>

    <div id="blogBody">
        <div id="blogContent">
            <a href="" id="avatar-inpost">
                <img src="/images/akari.jpg" alt="Profile Picture" width="40" height="40" class="rounded-circle">
            </a>
            <div id="blogtext"><%= content %></div>
        </div>
    </div>

    <div id="bottom">
        <div class="button-group">
            <button id="like" style="width:33%">Like</button>
            <button id="follow" style="width:33%">Follow</button>
            <button id="readLater" style="width:33%">Read Later</button>
          </div>
    </div>

    <script>
        user_cookie = Cookies.get('cg3');
        let link = ($(location).attr('origin') + "/") + (user_cookie ? user_cookie : "login")
        $("#avatar-inpost").prop("href", link);
    </script>

</body>
</html>