<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="container">
<h2>Database Results</h2>

<h3><% results.forEach(function(r) { %>
    <%= r.tablename %>
<% }); %></h3>
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.tablename %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
