<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="container">
<h2>Database Results</h2>

<h3>Table: user_account</h3>
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.Name %> - <%= r.Type %> - <%= r.profile_pic %> - <%= r.bio %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
