<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page</title>
    <link href="./css/loginpage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <script src="./js/loginpage.js" defer></script>
</head>

<body>

    <%- include(appRoot+'/views/partials/nav') %>

    <div id="empty"></div>
    <div id="bottom">
        <div id="login">
            <h1>Login</h1>
            <div class="imgcontainer">
                <img src="./images/akari.jpg" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <div id="inputblock">
                    <label for="username" id="usernameinput"><b>Username</b></label>
                    <input type="text" name="username" id="username" placeholder="Enter username" required>
                </div>

                <div id="inputblock">
                    <label for="psw" id="pswinput"><b>Password</b></label>
                    <input type="password" name="psw" id="psw" placeholder="Enter Password" required>
                </div>

                <div id="mesgblock">
                    <p id="loginMesg"></p>
                </div>

                <div id="submitblock">
                    <button type="submit" id="submit">Login</button>
                </div>
                <a id="signup" href="/signup">New User? Sign Up Here!</a>
            </div>
        </div>
    </div>

</body>
</html>


