<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New post</title>

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/post.css">
</head>

<body>

<%- include(appRoot+'/views/partials/nav') %>

<div class="container">
    <!--    TODO: Implement the rich text editor-->
    <form action="">
        <div class="row">
            <div class="col-12 bg-warning mt-2" style="height: 3em;">
                To be implemented, the toolbar.
            </div>
            <div class="col-12 bg-success mt-2" style="height: 80vh;">
                To be implemented, the rich text editor.
            </div>
            <button class="btn btn-primary offset-md-9 col-md-2 mt-2">Submit</button>
        </div>
    </form>
</div>

<%- include(appRoot+'/views/partials/footer') %>


<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/post.js"></script>

</body>
</html>
